html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.toFadeOut {
    -webkit-animation: fadeout 3s linear forwards;
    animation: fadeout 3s linear forwards;
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#scene {
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  width: 100%;
}

#cover {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background: #000;
  padding-bottom: 10px;
}

#cover img {
  max-height: 100%;
  border-radius: 50%;
}

.container {
  background-image: url(../images/background-line.svg);
  height: 800px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  left: 0;
  top: calc(50% - 400px);
  width: calc(100% - 4px);
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
}

html
{
  zoom:50%
}

@media only screen and (min-height: 620px){
  html{zoom:75%}
  .container {
    border-radius: 50px;
    margin: 0 40px;
    width: calc(100% - 80px);
  }
}

@media only screen and (min-height: 850px)
{
  html{zoom:100%}
}

#topLeft {
  position: absolute;
  top: 0;
  left: 0;
  height: 33%;
  z-index: 100;
  width: 35%;
}

#middleLeft {
  position: absolute;
  top: 33%;
  left: 0;
  width: 35%;
  height: 34%;
  z-index: 100;
}

#bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 33%;
  z-index: 100;
}

#topRight {
  position: absolute;
  top: 0;
  left: 65%;
  height: 33%;
  z-index: 100;
  width: 35%;
}

#middleRight {
  position: absolute;
  top: 33%;
  left: 65%;
  width: 35%;
  height: 34%;
  z-index: 100;
}


#bottomRight {
  position: absolute;
  bottom: 0;
  left: 65%;
  width: 35%;
  height: 33%;
  z-index: 100;
}


#center {
  position: absolute;
  top: 0;
  left: 35%;
  width: 30%;
  height: 100%;
  z-index: 100;
}
